/* Occupazione schermo completa */
html, body {
  height: 100%;
  margin: 0;
}

#root {
  width: 100%;
  height: 100%;
}

.App {
  font-family: system-ui, sans-serif;
  background: #696660;
  color: #3a3835;
  padding: 0 40px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* centratura verticale */
  min-height: 100%;
}

.nihongo{
  font-family: "Noto Serif JP", serif, system-ui;
}
p .nihongo{
  font-weight: 600;
  font-size:1.3em;
}

h1 {
  margin-bottom: -12px;
  color:#fdeed3;
}

/* Contenitore card */
.card-container {
  perspective: 1000px;
  width: 362px;
  height: 251px;
 /* margin-bottom: 40px; */
}

/* Card con animazione */
.card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  cursor: pointer;
  animation: fadeInZoom 0.4s ease;
}

@keyframes fadeInZoom {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.card.flipped {
  transform: rotateY(180deg);
}

/* Fronte / Retro */
.card .front, .card .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding: 0;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.back p{
  line-height: 1.1em;
  margin: 4px 10px;
  padding: 0;
  font-size:large;
}
.card .front, .riepilogo {
  background: #fdeed3;
}

.card .back {
  background: #daccff;
  transform: rotateY(180deg);
  text-align: left;
}

h2 {
  font-size: 3.5em;
  margin: 0;
}

.flip-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 24px;
  pointer-events: none;
}

/* Bottoni */
button {
  padding: 12px 35px;
  border: none;
  background: #fdeed3;
  border-radius: 12px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1em;
  transition: background 0.3s;
}

button:hover {
  background: #4b0303;
  color: #fdeed3;
}

/* Bottoni risposta */
.bottoni-risposta {
  display: flex;
  gap: 42px;
  margin-top: 30px;
  justify-content: center;
}

button.saputo {
  background: #a8e6cf;
}

button.saputo:hover {
  background: #81d4b8;
}

button.non-saputo {
  background: #ff8b94;
}

button.non-saputo:hover {
  background: #ff6f78;
}

/* Riepilogo come card */
.riepilogo {
  background: #fdeed3;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  width: 362px;
  min-height: 220px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding: 0px;
  margin-bottom:10px;
  text-align: center;
}

.riepilogo h2 {
  font-size:2em;
  margin-top: 0;
  margin-bottom: 10px;
}

.riepilogo ul {
  list-style: none;
  padding: 0;
  margin: 10px 0 20px;
  width: 100%;
}

.riepilogo li {
  margin: 4px 0;
  font-weight: 500;
  color: #3a3835;
}
